<nav class="navbar">

  <div class="container">
    <div class="ui-g">
      <div class="ui-g-12">
        <a href="javascript:;" class="navbar-toggle" (click)="showMenu = !showMenu" ><i class="fa fa-bars"></i></a>
      </div>
    </div>
  </div>

  <ul class="navbar-menu" [hidden]="!showMenu">
    <li class="navbar-usuario">{{ getAuthService().getTokenInfo()?.name }}</li>
    <li class="navbar-menuitem" *ngIf="getAuthService().hasPermission('ROLE_PESQUISAR_PESSOA')" routerLinkActive="ativo"><a routerLink="/lancamentos">Lançamento</a></li>
    <li class="navbar-menuitem" *ngIf="getAuthService().hasPermission('ROLE_PESQUISAR_LANCAMENTO')" routerLinkActive="ativo"><a routerLink="/pessoas">Pessoas</a></li>
    <li class="navbar-menuitem" routerLinkActive="ativo"><a (click)="logout()">Logout</a></li>
  </ul>

</nav>